%article
	%header
		%h1= @article[:title]
	= RDiscount.new(@article[:content]).to_html
	%footer.meta
		%ul
			%li.tags
				- @article[:tags].each do |tag|
					%span.tag= tag
			%li.date= @article[:date]
			%li.permalink #{site_url}/article/#{@article[:slug]}